@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background-color:#2B2B2B;
  color: #fff;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}


/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

li, a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}
/* base */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a259ff;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 20px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.header-nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links li {
  margin-right: 20px;
}



/* section */
section {
  padding: 80px 115px;
}
/* hero */
.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

/* .hero  .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  color: #ffffff;
} */

.hero .hero-counts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

}